body {
max-width: 1200px;
margin: 0 auto;
margin-top: 0px;
margin-right: auto;
margin-bottom: 0px;
margin-left: auto;
font-family: 'Montserrat', Helvetica, Arial, sans-serif;

}

header {
	height: 110px;
	border-bottom: 3px solid #77a466;
	margin: 0 auto;
}

h1 {
	font-size: 30px;
	text-align: left;
	width: auto;
	float: left;
	margin: 0;
	padding: 38px 0;
}



h1,h3,h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}

header span {color: #77a466;}

header nav {
	float: right;
	padding: 45px 0px;
}

nav ul li {
	display: inline-block;
}

header nav ul li a{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	padding: 0 10px;
	color: #77a466
}

.top-section, .bottom-section {
	width: 100%;
	margin: 0 auto;
	clear: both;
}

.main-image {
	width: 100%;
	height: auto;
	float: left;
}

.main-title {
	width: 100%;
	height: auto;
	float: left;
}
	.main-title h3{
	text-align: left;
	padding: 5px 0px;
	text-transform: uppercase;
	color: #77a466;
}

.section-one, .section-two, .section-three {
	width: 33%;
	height: auto;
	float:left;
	border-top: 1px solid;
}

.section-one h4 {
	padding: 10px 0px;
	color: black;
	text-transform: uppercase;
}

.menu {
	list-style: none;
	padding: 0px;
	}

.menu li {
	padding: 10px 0;
	color: #77a466
}

.section-one, .section-two {
	border-right: 1px solid;
	width: 33%;
	height: auto;
	float: left;
	border-top: 1px solid;
}

.section-two h4 {
	padding: 10px 30px;
	font-size: 12px;
	color: black;
	text-transform: uppercase;
}

.reviews {
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 0;
	border-bottom: 0;
	text-align: left;
	float: left;
	width: 50%;
	padding: 0px 3%;
	height: 254px;
	clear: none;
}

.section-three {
	width: 33%;
	height: auto;
	float: left;
	border-top: 1px solid;
}

.section-three h4{
	padding: 20px 50px;
	color: black;
}

.address {
font-size: 16px;
line-height: 40px;
}

p{
	padding: 0px 30px;
}

.bottom-section {
	width: 100%;
	margin: 0px auto;
	clear: both;
}

footer {
	width: 100%;
	height: 50px;
	border-top: 3px solid #eee;
	margin: 0 auto;
	text-align: center;
}

h4{
	font-size: 12px;
	color: black;
	text-transform: lowercase;
}

footer span {
	font-family: "Wisdom Script", script;
	text-transform: lowercase;
	color: #77a466;
	margin: auto;
	font-size: 14px;
	text-align: center;
}
